{% extends "base.html" %}
{% block title %}Add - config_showfields{% endblock %}
{% block heading %}Add - config_showfields{% endblock %}

{% block content %}
    <div class='w3-container w3-pale-yellow w3-padding'>
        <a href="/config_showfields/list" class="w3-green w3-btn">Back</a>
    </div>

    <form name='add' action='/config_showfields/add/' method='post' onsubmit="document.getElementById('config_showfields-submit').disabled=true; return true;" autocomplete="off">

        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_column_name'>Column Name</label></div>
            <div class='w3-col l10'><input type='text' id='f_column_name' name='column_name' value='' placeholder='column_name' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_display_name'>Display Name</label></div>
            <div class='w3-col l10'><input type='text' id='f_display_name' name='display_name' value='' placeholder='display_name' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_display_order'>Display Order</label></div>
            <div class='w3-col l10'><input type='text' id='f_display_order' name='display_order' value='' placeholder='display_order' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_column_datatype'>Column Datatype</label></div>
            <div class='w3-col l10'><input type='text' id='f_column_datatype' name='column_datatype' value='' placeholder='column_datatype' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_showon_list'>Showon List</label></div>
            <div class='w3-col l10'><input type='text' id='f_showon_list' name='showon_list' value='' placeholder='showon_list' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_showon_edit'>Showon Edit</label></div>
            <div class='w3-col l10'><input type='text' id='f_showon_edit' name='showon_edit' value='' placeholder='showon_edit' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_showon_detail'>Showon Detail</label></div>
            <div class='w3-col l10'><input type='text' id='f_showon_detail' name='showon_detail' value='' placeholder='showon_detail' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_showon_insert'>Showon Insert</label></div>
            <div class='w3-col l10'><input type='text' id='f_showon_insert' name='showon_insert' value='' placeholder='showon_insert' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_reserved_field'>Reserved Field</label></div>
            <div class='w3-col l10'><input type='text' id='f_reserved_field' name='reserved_field' value='' placeholder='reserved_field' /></div>
        </div>
    
        
        

<div class='w3-row w3-padding'>
    <div class='w3-col l2'>Table ID</div>
    <div class='w3-col l10'>
        <select name="table_id"><option value=""></option>
            {% for k, v in table_ids %}<option value="{{ k }}">{{ v }}</option>{% endfor %}
        </select>
    </div>
</div>
    

        <div class="w3-row w3-padding">
            <div class='w3-col l2'>&nbsp;</div>
            <div class='w3-col l10'>
                <input type="hidden" name="config_id" value="{{ guid }}" />
                <input type="submit" id="config_showfields-submit" name="" value="Add" class="w3-green w3-btn" />
                <a href="/config_showfields">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
