{% extends "base.html" %}
{% block title %}Details - config_colors{% endblock %}
{% block heading %}Details - config_colors{% endblock %}
{% block content %}
    <div class='w3-container w3-pale-yellow w3-padding'>
        <a href="/config_colors/list" class="w3-green w3-btn">Back</a>
        
    </div>

    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Column Name</div>
            <div class='w3-col l10'>{{ data.column_name }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Color Back</div>
            <div class='w3-col l10'>{{ data.color_back }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Color Front</div>
            <div class='w3-col l10'>{{ data.color_front }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Color Hover</div>
            <div class='w3-col l10'>{{ data.color_hover }}</div>
        </div>
        

    <div class="w3-container w3-pale-red w3-padding">
        <div class="w3-left">
            <a class='w3-btn w3-red' href="/config_colors/edit/{{data.config_id}}">Edit</a>

        </div>
        <div class="w3-right">
            Are you sure? <a class='w3-btn w3-red' href="/config_colors/delete/{{data.config_id}}">Delete</a>
        </div>
    </div>

{% endblock %}
