{% extends "base.html" %}
{% block title %}Edit - config_colors{% endblock %}
{% block heading %}Edit - config_colors{% endblock %}
{% block content %}

    <div class='w3-container w3-pale-yellow w3-padding'>
        <a href="/config_colors/list" class="w3-green w3-btn">Back</a>
    </div>

    <form name='edit' action='/config_colors/edit/{{data.config_id}}/' method="post">
        
        <div class='w3-padding w3-row'>
            <div class='w3-col l2'><label for='f_config_id'>Config ID</label></div>
            <div class='w3-col l2'><input type='text' id='f_config_id' name='config_id' value='{{ data.config_id }}' /></div>
        </div>
    
        <div class='w3-padding w3-row'>
            <div class='w3-col l2'><label for='f_table_id'>Table ID</label></div>
            <div class='w3-col l2'><input type='text' id='f_table_id' name='table_id' value='{{ data.table_id }}' /></div>
        </div>
    
        <div class='w3-padding w3-row'>
            <div class='w3-col l2'><label for='f_column_name'>Column Name</label></div>
            <div class='w3-col l2'><input type='text' id='f_column_name' name='column_name' value='{{ data.column_name }}' /></div>
        </div>
    
        <div class='w3-padding w3-row'>
            <div class='w3-col l2'><label for='f_color_back'>Color Back</label></div>
            <div class='w3-col l2'><input type='text' id='f_color_back' name='color_back' value='{{ data.color_back }}' /></div>
        </div>
    
        <div class='w3-padding w3-row'>
            <div class='w3-col l2'><label for='f_color_front'>Color Front</label></div>
            <div class='w3-col l2'><input type='text' id='f_color_front' name='color_front' value='{{ data.color_front }}' /></div>
        </div>
    
        <div class='w3-padding w3-row'>
            <div class='w3-col l2'><label for='f_color_hover'>Color Hover</label></div>
            <div class='w3-col l2'><input type='text' id='f_color_hover' name='color_hover' value='{{ data.color_hover }}' /></div>
        </div>
    
        <div class="w3-row w3-padding">
            <div class='w3-col l2'>
                &nbsp;
            </div>
            <div class='w3-col l10'>
                <input type="hidden" name="config_id" value="{{data.config_id}}" />
                <input type="submit" value="Edit" class="w3-green w3-btn" />
                <a href="/config_colors/">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
