{% extends "base.html" %}
{% block title %}List - config_colors{% endblock %}
{% block heading %}List - config_colors{% endblock %}
{% block content %}

    <div class='w3-row w3-pale-yellow w3-padding'>
        <div class="w3-container w3-half">
            <a href="/config_colors/add/" class="w3-green w3-btn">Add</a>
            <a href="/import/config_colors/" class="w3-green w3-btn">Import</a>
            <a href="/export/config_colors/" class="w3-green w3-btn">Download</a>
            <a href="/optimized/config_colors/" class="w3-green w3-btn">Optimized</a>
        </div>
        <div class="w3-container w3-half">
            <div class="w3-right">
                <form method="post" action="/config_colors/search/">
                    <input type="text" name="query" value="" placeholder="Search..." />
                    <input type="submit" name="" value="Search" class="w3-green w3-btn" />
                </form>
            </div>
        </div>
    </div>

    <form method="post" action="/config_colors/bulk/">
    <table class="w3-table w3-bordered data">
    <thead>
        <tr>
            <th>Column Name</th><th>Color Back</th><th>Color Front</th><th>Color Hover</th>
            <th>Edit</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for d in data %}
        <tr>
            <td>{{ d.column_name }}</td><td>{{ d.color_back }}</td><td>{{ d.color_front }}</td><td>{{ d.color_hover }}</td>
            <td><a href='/config_colors/edit/{{ d.config_id }}'>Edit<a></td>
            <td><a href='/config_colors/details/{{ d.config_id }}'>Details<a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </form>
{% endblock %}

