{% extends "base.html" %}
{% block title %}Details - employees{% endblock %}
{% block heading %}Details - employees{% endblock %}
{% block content %}
    <div class='w3-container w3-pale-yellow w3-padding'>
        <a href="/employees/list" class="w3-green w3-btn">Back</a>
        
    </div>

    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Employee Name</div>
            <div class='w3-col l10'>{{ data.employee_name }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Employee Firstname</div>
            <div class='w3-col l10'>{{ data.employee_firstname }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Employee Lastname</div>
            <div class='w3-col l10'>{{ data.employee_lastname }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Employee Address</div>
            <div class='w3-col l10'>{{ data.employee_address }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Employee Phone</div>
            <div class='w3-col l10'>{{ data.employee_phone }}</div>
        </div>
        

    <div class="w3-container w3-pale-red w3-padding">
        <div class="w3-left">
            <a class='w3-btn w3-red' href="/employees/edit/{{data.employee_id}}">Edit</a>

        </div>
        <div class="w3-right">
            Are you sure? <a class='w3-btn w3-red' href="/employees/delete/{{data.employee_id}}">Delete</a>
        </div>
    </div>

{% endblock %}
