{% extends "base.html" %}
{% block title %}Add - config_tables{% endblock %}
{% block heading %}Add - config_tables{% endblock %}

{% block content %}
    <div class='w3-container w3-pale-yellow w3-padding'>
        <a href="/config_tables/list" class="w3-green w3-btn">Back</a>
    </div>

    <form name='add' action='/config_tables/add/' method='post' onsubmit="document.getElementById('config_tables-submit').disabled=true; return true;" autocomplete="off">

        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_table_name'>Table Name</label></div>
            <div class='w3-col l10'><input type='text' id='f_table_name' name='table_name' value='' placeholder='table_name' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_table_prefix'>Table Prefix</label></div>
            <div class='w3-col l10'><input type='text' id='f_table_prefix' name='table_prefix' value='' placeholder='table_prefix' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_pk_column'>PK Column</label></div>
            <div class='w3-col l10'><input type='text' id='f_pk_column' name='pk_column' value='' placeholder='pk_column' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_hidden_columns'>Hidden Columns</label></div>
            <div class='w3-col l10'><input type='text' id='f_hidden_columns' name='hidden_columns' value='' placeholder='hidden_columns' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_extra_columns'>Extra Columns</label></div>
            <div class='w3-col l10'><input type='text' id='f_extra_columns' name='extra_columns' value='' placeholder='extra_columns' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_do_crud'>Do CRUD</label></div>
            <div class='w3-col l10'><input type='text' id='f_do_crud' name='do_crud' value='' placeholder='do_crud' /></div>
        </div>
    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'><label for='f_parent_column'>Parent Column</label></div>
            <div class='w3-col l10'><input type='text' id='f_parent_column' name='parent_column' value='' placeholder='parent_column' /></div>
        </div>
    
        
        

        <div class="w3-row w3-padding">
            <div class='w3-col l2'>&nbsp;</div>
            <div class='w3-col l10'>
                <input type="hidden" name="table_id" value="{{ guid }}" />
                <input type="submit" id="config_tables-submit" name="" value="Add" class="w3-green w3-btn" />
                <a href="/config_tables">Cancel</a>
            </div>
        </div>
    </form>
{% endblock %}
