{% extends "base.html" %}
{% block title %}Details - config_tables{% endblock %}
{% block heading %}Details - config_tables{% endblock %}
{% block content %}
    <div class='w3-container w3-pale-yellow w3-padding'>
        <a href="/config_tables/list" class="w3-green w3-btn">Back</a>
        <a class='w3-btn w3-purple' href='/config_showfields/list/{{ data.table_id }}'>Fields</a>
    </div>

    
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Table Name</div>
            <div class='w3-col l10'>{{ data.table_name }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Table Prefix</div>
            <div class='w3-col l10'>{{ data.table_prefix }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>PK Column</div>
            <div class='w3-col l10'>{{ data.pk_column }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Hidden Columns</div>
            <div class='w3-col l10'>{{ data.hidden_columns }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Extra Columns</div>
            <div class='w3-col l10'>{{ data.extra_columns }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Do CRUD</div>
            <div class='w3-col l10'>{{ data.do_crud }}</div>
        </div>
        
        <div class='w3-row w3-padding'>
            <div class='w3-col l2'>Parent Column</div>
            <div class='w3-col l10'>{{ data.parent_column }}</div>
        </div>
        

    <div class="w3-container w3-pale-red w3-padding">
        <div class="w3-left">
            <a class='w3-btn w3-red' href="/config_tables/edit/{{data.table_id}}">Edit</a>

        </div>
        <div class="w3-right">
            Are you sure? <a class='w3-btn w3-red' href="/config_tables/delete/{{data.table_id}}">Delete</a>
        </div>
    </div>

{% endblock %}
