{% extends "base.html" %}
{% block title %}List - config_tables{% endblock %}
{% block heading %}List - config_tables{% endblock %}
{% block content %}

    <div class='w3-row w3-pale-yellow w3-padding'>
        <div class="w3-container w3-half">
            <a href="/config_tables/add/" class="w3-green w3-btn">Add</a>
            <a href="/import/config_tables/" class="w3-green w3-btn">Import</a>
            <a href="/export/config_tables/" class="w3-green w3-btn">Download</a>
            <a href="/optimized/config_tables/" class="w3-green w3-btn">Optimized</a>
        </div>
        <div class="w3-container w3-half">
            <div class="w3-right">
                <form method="post" action="/config_tables/search/">
                    <input type="text" name="query" value="" placeholder="Search..." />
                    <input type="submit" name="" value="Search" class="w3-green w3-btn" />
                </form>
            </div>
        </div>
    </div>

    <form method="post" action="/config_tables/bulk/">
    <table class="w3-table w3-bordered data">
    <thead>
        <tr>
            <th>Table Name</th><th>Table Prefix</th><th>PK Column</th><th>Hidden Columns</th><th>Extra Columns</th><th>Do CRUD</th><th>Parent Column</th><th>Fields</th>
            <th>Edit</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        {% for d in data %}
        <tr>
            <td>{{ d.table_name }}</td><td>{{ d.table_prefix }}</td><td>{{ d.pk_column }}</td><td>{{ d.hidden_columns }}</td><td>{{ d.extra_columns }}</td><td>{{ d.do_crud }}</td><td>{{ d.parent_column }}</td><td><a href='/config_showfields/list/{{ d.table_id }}'>Fields</td>
            <td><a href='/config_tables/edit/{{ d.table_id }}'>Edit<a></td>
            <td><a href='/config_tables/details/{{ d.table_id }}'>Details<a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </form>
{% endblock %}

